@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

main {
  width: 100%;
}

.hero {
  background-image: url('../assets/Image.png');
  background-color: linear-gradient(180deg, rgba(53, 66, 103, 0.0001) 0%, #151824 95.04%);
  color: #ffffff;
  width: 100%;
  height: 962px;
  display: flex;
  justify-content: center;
  position: relative;
  font-family: 'Lato', sans-serif;
}

.hero-content-wrapper {
  width: 75%;
  margin-top: 77px;
}

.hero-content-wrapper nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 1082px;
  height: 31px;
}

.hero-content-wrapper nav .odigo-logo {
  justify-content: flex-start;
}

.hero-content-wrapper nav ul {
  justify-content: flex-end;
}

.hero-content-wrapper nav ul li {
  display: inline-block;
  margin-left: 42px;
}

.hero-content-wrapper nav ul li a {
  font-size: 18px;
  color: #ffffff;
}

.hero-content-wrapper h1 {
  margin-top: 176px;
  width: 619px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
}

.hero-content-wrapper p {
  margin-top: 22px;
  width: 619px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.hero-content-wrapper .search-wrapper {
  margin-top: 59px;
  width: 886px;
  height: 59px;
  display: flex;
  justify-content: space-between;
}

.hero-content-wrapper .search-wrapper .search {
  width: 297px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ffffff;
}

.hero-content-wrapper .search-wrapper .search .oval {
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.hero-content-wrapper .search-wrapper .placeholder {
  justify-content: flex-end;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

#search_btn {
  width: 171px;
  height: 58px;
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  background: #1b7dff;
  color: #ffffff;
  cursor: pointer;
}
